.create-os-update-policy {
  .field-container {
    margin-bottom: 0.2rem;
  }

  .update-source {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  .icon-btn {
    padding: 0.2rem 0 0 0;
    min-width: auto;
    height: 1rem;
  }
}
