[submodule "library/@orch-utils"]
	path = library/@orch-utils
	url = https://github.com/open-edge-platform/orch-utils.git
[submodule "library/@infra-core"]
	path = library/@infra-core
	url = https://github.com/open-edge-platform/infra-core.git
