attrs==22.2.0
binaryornot==0.4.4
boolean.py==4.0
certifi==2023.7.22
chardet==5.1.0
charset-normalizer==3.1.0
decorator==5.1.1
idna==3.4
Jinja2==3.1.2
jsonpath-ng==1.5.3
jsonschema==4.17.3
license-expression==30.1.0
MarkupSafe==2.1.2
ply==3.11
pyrsistent==0.19.3
python-debian==0.1.44
requests==2.28.2
reuse==1.0.0
robotframework==6.0.2
robotframework-jsonlibrary==0.5
robotframework-requests==0.9.4
six==1.16.0
urllib3==1.26.14
