# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
name: Update Versions to -dev

on:
  push:
    branches:
      - main
      - release-*

permissions: {}

jobs:
  update-version:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      - name: Run Version Update Action
        uses: open-edge-platform/orch-ci/dev-version-update@main
        with:
          gh_token: ${{ secrets.SYS_ORCH_GITHUB }}
