# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---
name: Post-Merge Tests

on:
  push:
    branches:
      - main
      - release-*
    paths:
      - 'tests/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  post-merge-pipeline:
    permissions:
      contents: read
      security-events: write
      id-token: write
    uses: open-edge-platform/orch-ci/.github/workflows/post-merge.yml@c6a01b803d3c045de1b1b2f788a47eaaefed3f07  # 2026.0.4
    with:
      bootstrap_tools: "base,helm,yq,jq"
      run_version_check: true
      run_dep_version_check: false
      run_build: false
      run_docker_build: false
      run_docker_push: false
      run_helm_build: false
      run_helm_push: false
      run_version_tag: true
      run_version_dev: true
      prefix_tag_separator: "/"
      project_folder: tests
      orch_ci_repo_ref: main
      trivy_image_skip: "ghcr.io/dependabot/dependabot-updater-core:latest"
    secrets:
      SYS_EMF_GH_TOKEN: ${{ secrets.SYS_EMF_GH_TOKEN }}
      NO_AUTH_ECR_PUSH_USERNAME: ${{ secrets.NO_AUTH_ECR_PUSH_USERNAME }}
      NO_AUTH_ECR_PUSH_PASSWD: ${{ secrets.NO_AUTH_ECR_PUSH_PASSWD }}
      MSTEAMS_WEBHOOK: ${{ secrets.TEAMS_WEBHOOK }}
